{% extends 'base.html' %}

{% block title %}

	<title>Cotton</title>
	<link rel="stylesheet" type="text/css" href="/static/css/seeds_sub_style.css">

{% endblock %}
		

{% block content %}

			<div class="seed-title">Cotton</div>

			<div class="items">
			
				<img src="/static/pictures/Mahyco.jpg" class="content-img">

					<div class="text">
						<h2>MAHYCO DHANDEV + MRC 7373 BG-II COTTON</h2>
						<p>﻿Specifications:</p>

    					<p>Duration 160- 170 days</p>
						<p>Spreading and sturdy plant with more branching</p>
    					<p>Large boll size -good volume by weight</p>
					    <p>Fluffy boll bursting and ease in picking</p>
					    <p>Long staple cotton</p>
						<p><a href="https://www.bighaat.com/collections/buy-cotton-seeds-online/products/mahyco-dhandev-mrc-7373-bg-ii-cotton">Click to buy now!</a></p>

					</div>

			</div>

			<div class="items">
			
				<img src="/static/pictures/USAgriseeds.jpg" class="content-img">

					<div class="text">
						<h2>US 81 COTTON (SWCH 4757 BGII)</h2>
						<p>Specifications:</p>
    					<p>Cotton hybrid seeds with bollgaurd 2 technology</p>
   					 	<p>Best suited for medium to heavy soils</p>
						<p>Good tolerance to CLCuD</p>
  					 	<p>Tolerance to sucking pests like jassids</p>
						<p>Medium maturity hybrid</p>
   					 	<p>Easy Picking and big bolls</p>
   					 	<p>Excellent early vigour</p>
   					 	<p>High Yielding hybrid.</p>
						<p><a href="https://www.bighaat.com/collections/buy-cotton-seeds-online/products/us-81-cotton-swch-4757-bgii?variant=13340775251991">Click to buy now!</a></p>


					</div>

			</div>

			<div class="items">
			
				<img src="/static/pictures/US-71.jpg" class="content-img">

					<div class="text">
						<h2>US 71 COTTON (SWCH 4755 BGII)</h2>
						<p>Specifications:</p>
    					<p>Cotton hybrid seeds with bollgaurd 2 technology</p>
    					<p>Best suited for medium to heavy soils </p>
    					<p>Excellent highly vigour</p>
    					<p>Big Boll variety</p>
    					<p>Medium maturity Hybrid</p>
    					<p>Tolerant to sucking pests like jassids</p>
    					<p>Easy Picking High yielding variety</p>
						<p><a href="https://www.bighaat.com/collections/buy-cotton-seeds-online/products/us-71-cotton-swch-4755-bgii?variant=13340809658391">Click to buy now!</a></p>

					</div>

			</div>
			

			<div class="items">
			
				<img src="/static/pictures/MRC.jpg" class="content-img">

					<div class="text">
						<h2>Mahyco MRC 7351 BG-II (Cotton) Seeds</h2>
						<p>Specifications:</p>
						<p>Medium to Long duration (160-180 days).</p>
						<p>Uniform very large bolls (6.0 – 6.5 gm).</p>
						<p>Close boll bearing with more bolls numbers.</p>
						<p>High volume weight cotton.</p>
						<p><a href="https://www.indiamart.com/proddetail/mrc-7351-bg-ii-cotton-seeds-21014435188.html">Click to buy now!</a></p>
					</div>

			</div>

			<div class="items">
			
				<img src="/static/pictures/RCH.jpg" class="content-img">

					<div class="text">
						<h2>RCH 659 BG II COTTON</h2>
						<p>Specifications:</p>
    					<p>Big bolls & good boll bursting</p>
    					<p>Medium duration</p>
    					<p>More kapas weight</p>
    					<p>Good & quick rejuvenation</p>
    					<p>Clean Bursting and Easy Picking</p>
    					<p>Responsive to Management Hybrid</p>
    					<p>Sturdy plant with good boll retention</p>
						<p><a href="https://www.bighaat.com/collections/buy-cotton-seeds-online/products/rch-659-bg-ii-cotton-seeds">Click to buy now!</a></p>

					</div>

			</div>

			<div class="items" style="margin-bottom: 0px; height: 30px">

			</div>


{% endblock %}