{% extends 'base.html' %}

{% block title %}

	<title>Tur</title>
	<link rel="stylesheet" type="text/css" href="/static/css/seeds_sub_style.css">

{% endblock %}
		

{% block content %}

			<div class="seed-title">Tur</div>

			<div class="items">
			
				<img src="/static/pictures/temp.jpg" class="content-img">

					<div class="text">
						AssadwdwefeFEfuuehfEfisadw09u
					</div>

			</div>

			<div class="items">
			
				<img src="/static/pictures/temp.jpg" class="content-img">

					<div class="text">
						AssadwdwefeFEfuuehfEfisadw09u
					</div>

			</div>

			<div class="items">
			
				<img src="/static/pictures/temp.jpg" class="content-img">

					<div class="text">
						AssadwdwefeFEfuuehfEfisadw09u
					</div>

			</div>
			

			<div class="items">
			
				<img src="/static/pictures/temp.jpg" class="content-img">

					<div class="text">
						AssadwdwefeFEfuuehfEfisadw09u
					</div>

			</div>

			<div class="items">
			
				<img src="/static/pictures/temp.jpg" class="content-img">

					<div class="text">
						AssadwdwefeFEfuuehfEfisadw09u
					</div>

			</div>

			<div class="items" style="margin-bottom: 0px; height: 30px">

			</div>


{% endblock %}