<!DOCTYPE html>

<html>

	<head>

		<title>PBL Project</title>
		<link rel="stylesheet" type="text/css" href="static/css/style.css"/>
   		<link rel="shortcut icon" type="image/jpg" href="/static/pictures/fav.jpg">
	
	</head>

	<body>

		<form action="">

		<div class="banner">
			
			<div class="navbar">

				<img src="static/pictures/logo.jpg" class="logo">

				<ul>
					
						<li><a href="/">Home</a></li>
						<li><a href="/seeds">Seeds</a></li>
						<li><a href="/fertilizers">Fertilizers</a></li>
						<li><a href="/crops">Crops</a></li>
						<li><a href="/soiltest">Soil Test</a></li>


				</ul>
						
			</div>

			<div class="content">

				<h1>FARMHELP</h1>
				<p>What would you like to search?</p>

				<div>
					<button type="button" onclick="window.location.href = '/seeds';"><span></span>Seeds</button>
					<button type="button" onclick="window.location.href = '/fertilizers';"><span></span>Fertilizers</button>
				</div>

			</div>


		<div>
			
			<img src="static/pictures/seeds.png" class="seeds">

		</div>

		<div>
				
			<img src="static/pictures/fertilizer.jpg" class="fertilizers">

		</div>

		</div>

	</form>
	
	</body>

</html>